/* :root{
    --text-color:#e4f7e4;
    --background-color:#020803 ;
    --primary-color:#3bc43d;
    --secondary-color:#206a4f;
    --accent-color:#2a8d82;
} */
/* :root{
    --text-color:#efe7f8;
    --background-color:#11081b ;
    --primary-color:#ae89dd;
    --secondary-color:#812788;
    --accent-color:#c943c5;
} */
:root{
    --primary-color: #3a31d8;
    --secondary-color: #020024;
    --background-color: #010104;
    --accent-color: #0600c2;
    --white-color: #ebe9fc;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(255,172,208);
    background: radial-gradient(circle, rgba(255,172,208,1) 0%, rgba(130,94,255,1) 46%, rgba(148,197,255,1) 100%);
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50%;
    }
        img{
            width: 50%;
            height: auto;
        }
        #img{
            width: 30%;
            height: auto;
        }
        .landing-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .button-3d {
            margin: 0 10px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            font-family: "Press Start 2P", system-ui;
            font-size: 1.25rem;
            font-weight: 600;
            color: #382b22; /* Adjusted to match SCSS $text */
            text-transform: uppercase;
            padding: 1.25em;
            background: #ffe9e9; /* Assumed value for $light-pink */
            border: 2px solid #b18597; /* Assumed value for $pink-border */
            border-radius: 0.75em;
            transform-style: preserve-3d;
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
            }
            
            .button-3d::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #ffb3b3; /* Assumed value for $dark-pink */
                border-radius: inherit;
                transform: translate3d(0, 0.75em, -1em);
                transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
            }
            
            .button-3d:hover {
                background: #ffcccc; /* Assumed value for $pink */
                transform: translate(0, 0.25em);
            }
            
            .button-3d:hover::before {
                transform: translate3d(0, 0.5em, -1em);
            }
            
            .button-3d:active {
                background: #ffcccc; /* Assumed value for $pink */
                transform: translate(0em, 0.75em);
            }
            
            .button-3d:active::before {
                box-shadow: 0 0 0 2px #b18597, 0 0 #f9c4d2;
                transform: translate3d(0, 0, -1em);
            }
            
            h2 {
                font-family: "Press Start 2P", system-ui;
                width: 70%;
                text-align: center;
                line-height: 40px;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 10px 10px 30px 10px;
                color: #fff;
                text-shadow: 0 0 20px #3025ff; /* Adjust the shadow color and blur radius as needed */
            }
            
            .main-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
                .card-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    .card{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 250px;
                        height: 250px;
                        margin: 10px;
                        padding: 10px;
                        border-radius: 10px;
                        background-color: var(--white-color);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    }
                    .card:hover{
                        transform: scale(1.1);
                        transition: transform 0.5s;
                    }

            i{
                font-size: 5rem;
                color: #ff8383;
            }
            h3{
                font-size: 1.5rem;
                font-family: "Press Start 2P", system-ui;
                color: #281fd5;
            }
            p{
                width: 70%;
                font-size: 1rem;
                font-family: "Poppins", sans-serif;
                text-align: center;
                font-weight: 600;
                color: #7069ff;
            }
