<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated MCQs</title>
</head>
<body>
    <main>
        <img src="../static/images/QUIZZABLE.png" alt="">
        <h2>Transform Documents into Engaging Quizzes!</h2>
        <div class="landing-btn">
            <a class="button-3d" href="{{ url_for('index') }}">Start</a>
            <a class="button-3d" href="{{ url_for('howto') }}">Usage</a>
        </div>

    </main>
</body>
</html>
